{% include 'navbar.html' %}
{% include 'header.html' %}
<body style="background-color: #EEEDED">

<div>
    <div style="display: flex; and align-items: center; justify-content: center;margin-top:200px">
            <button type="button" class="btn btn-warning btn-circle btn-contact" ><a href="https://www.linkedin.com/in/maria-yoana-marinova-8030b3176" ><i class="fa-brands fa-linkedin"></i></a></button>
            <button type="button" class="btn btn-danger btn-circle btn-contact" ><a href="mailto:miyamarinova@gmail.com"><i class="fa-solid fa-envelope"></i></a></button>
        <button type="button" class="btn btn-info btn-circle btn-contact" ><a href="https://www.instagram.com/miya.isback/"><i class="fa-brands fa-instagram"></i></a></button>

    </div>
        </div>
    </div></div>
</body>

