{% include 'header.html' %}
{% include 'navbar.html' %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color: #EEEDED">
<div>
    <div style="display: flex; justify-content: space-around; background-color: #EEEDED;">
        <img class="image-home" src="{{ url_for('static',filename='img/profile.JPG') }}" alt="Profile Picture">
        <div style="margin-right: 50px;">
            <h2 style="margin-top:60px;font-family: 'Concert One', cursive;">More About Me...</h2>
            <p class="intro">A self-taught Python Developer with a background in Agronomy Science, more specifically Plant Biotechnology. </p>
            <p class="intro">I was passionately studying Agronomy for 4 years and finished my internship as a Laboratory Assistant. My favourite fields were plant pathology, genetics, in-vitro grown plant tissues and hydroponic farming.</p>
            <p class="intro">During the maternity leave for my fist baby, I've 'met' Python, and Programming in general, out of curiosity with a simple course for beginners. It was not a love at first sight but the more I've learned, the more 'attracted' and amazed by the power of Programming. I've become.</p>
            <p class="intro">Currently I want to make a switch career to Software Engineering and learn more and more. Ideally for me would be to combine my long-lasting passion about plants and my new passion of programming.  </p>
        <div>
            <button type="button" class="btn btn-warning btn-circle btn-contact"><a href="{{ url_for('resume') }}" class="index-btn">Resume</a></button>
            <button type="button" class="btn btn-danger btn-circle btn-contact"><a href="{{url_for('projects')}}" class="index-btn">Projects</a></button>
            <button type="button" class="btn btn-info btn-circle btn-contact"><a href="{{url_for('contact')}}" class="index-btn">Contact</a></button>
    </div>
        </div>
    </div>

</div>
</body>
{% include 'footer.html' %}
