{% include 'header.html' %}
{% include 'navbar.html'%}

<body style="background-color: #EEEDED">
<h1 class="project-heading">Image Decorator</h1>
<div class="row">
    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project3img1.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project3img2.png') }}" alt="onlinestoreimg">
    </div>

</div>

<div>
    <p class="project-paragraph">Via this website the user can detect the five most common colors in a image that the user upload.</p>
    <p class="project-paragraph"><a href="https://github.com/miyamarinova/Dominant-Colors-In-Img"><b></b>GitHub Repository to the Website</b></a> </p>
</div>
</body>
{% include 'footer.html' %}
