{% include 'header.html' %}
{% include 'navbar.html' %}


<body style="background-color: #EEEDED">

<div><h1 style="display: flex; and align-items: center; justify-content: center; font-family: 'Concert One', cursive;">Projects</h1></div>

<div class="row">

        <div class="col" >
            <div class="w3-white w3-text-grey w3-card-4">
                <h2 class="project-paragraph"><a href="{{url_for('project01')}}">Online Store</a></h2>
            <div><a href="{{url_for('project01')}}"><img class='projects-img' src="{{ url_for('static',filename='img/home-page-1.png') }}" alt="onlinestoreimg"></a></div>
            </div></div>



        <div class="col" >
            <div class="w3-white w3-text-grey w3-card-4">
                <h2 class="project-paragraph"><a href="{{url_for('project_cocktail')}}">Random Cocktail</a></h2>

                <div><a href="{{url_for('project_cocktail')}}"><img class='projects-img' src="{{ url_for('static',filename='img/project2img1.png') }}" alt="onlinestoreimg"></a></div>
            </div>

        </div>
    <div class="col">
            <div class="w3-white w3-text-grey w3-card-4">
                <h2 class="project-paragraph"><a href="{{url_for('project03')}}">Image Detector</a></h2>
            <div><a href="{{url_for('project03')}}"><img class='projects-img' src="{{ url_for('static',filename='img/project3img2.png') }}" alt="onlinestoreimg"></a></div>
            </div></div>
</div>

<div class="row">
    <div class="col">
        <h2 class="other-projects">Other Projects</h2>
        <p class="other-projects">Please, feel free to check on my GitHub Repositories for these and many more projects, including web and desktop apps, and  simple games.</p>
    </div>
    <div class='col' style="display: flex; ; font-family: 'Concert One', cursive; margin-top: 50px"><button type="button" class="btn btn-warning btn-circle btn-xl" style="width: 150px;
            height: 150px;border-radius:75px"><a href="https://github.com/miyamarinova?tab=repositories">My GitHub</a></button></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="static/js/javas.js"></script>

</body>

{% include 'footer.html' %}


