{% include 'header.html' %}
{% include 'navbar.html'%}

<body style="background-color: #EEEDED">
<h1 class="project-heading">Online Store</h1>
<div class="row">
    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/home-page-1.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project1img2.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project1img3.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project1img4.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project1img5.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='project-img' src="{{ url_for('static',filename='img/project1img6.png') }}" alt="onlinestoreimg">
    </div>
</div>

<div>
    <p class="project-paragraph">This is an online shop of a small family-owned farm. The user can take a look at the product list, sign in and log in/log out as a customer
    , and add products to a personal basket. The customer can pay for the products with a debit/credit card. </p>
    <p class="project-paragrap"><a href="https://github.com/miyamarinova/MyOnlineStoreForSprouts"><b></b>GitHub Repository to the Website</b></a> </p>
</div>
</body>
{% include 'footer.html' %}
