{% include 'header.html' %}
{% include 'navbar.html'%}

<div class="row">
    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img1.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img2.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img3.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img4.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img5.png') }}" alt="onlinestoreimg">
    </div>
    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project1img6.png') }}" alt="onlinestoreimg">
    </div>
</div>

<div>
    <p class="project-paragraph">This is an online shop of a small family-owned farm. The user can take a look of the product list, sign in and log in/log out as a customer
    and add products to personal basket. The customer can pay the products with debit/credit card. </p>
    <p class="project-paragraph"><a href="https://github.com/miyamarinova/MyOnlineStoreForSprouts">GitHub Repository to the Website</a> </p>
</div>