{% include 'header.html' %}
{% include 'navbar.html' %}

<body style="background-color: #EEEDED">

<div class="row">
    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project2img1.png') }}" alt="onlinestoreimg">
    </div>

    <div class="col">
        <img class='projects-img' src="{{ url_for('static',filename='img/project2img2.png') }}" alt="onlinestoreimg">
    </div>

</div>

<div>
    <p class="project-paragraph">Find your daily inspiration for cocktails. Funny website which suggest you what cocktail should you drink or prepare today.
    Can be used many times, for example for a couple friends who are wondering what to order. The recipies and the images for all the cocktails are collect by using HTTP request and REST APIs from a public API (<a href="https://www.thecocktaildb.com/api/">'https://www.thecocktaildb.com/api/'</a>).</p>
    <p class="project-paragraph"><a href="https://github.com/miyamarinova/Daily_cocktail">GitHub Repository to the Website</a> </p>
</div>
</body>
